body{
    margin: 0;
    font-family: Arial;
    background: rgba(231, 218, 218, 0.527);
}
.container{
    display: grid;
    grid-template-areas: "header-container" "body-container" "footer"
}
.header-container{
    background: white;
    border-top:1px solid rgb(112, 107, 107);
    border-bottom: 1px solid rgb(114, 107, 107);            
    margin-bottom: 20px;
    margin-top:5px;             
}

.item{
    display: grid;
    width:50px;
    height:50px;
    border: 1px solid red;
    padding: 5px;
    margin: 5px;
    grid-gap: 5px;
}
.post{
    cursor:pointer;
    position: relative;             
    display: block;   
}
.post-image{            
    margin:0;          
}

.post-image > img{
    width:100%;
    vertical-align: top;
}

.post-overlay{
    background: rgba(0, 0, 0, 0.404);
    position:absolute;
    left: 0;
    right: 0;
    bottom:0;
    top:0;
    display: none;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
}
.post:hover .post-overlay{
    display: flex;
}

.post-list{
    display: grid;
    grid-template-columns:repeat(3, minmax(100px, 298px));
    justify-content: center;
    grid-gap: 28px;
    transition:1000ms ;
}

.post-likes,
.post-comments{
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width:768px){
    .post-list{
        grid-gap: 2px;
    }
}